.main-chat {
  height: 100vh;
  width: calc(100vw - 300px);
  float: left;
  color: white;
  .main-chat_header{
    height: 100px;
    background-color: yellow;
  }
  .main-chat_center {
    height: calc(100vh - 100px - 90px);
    background-color: moccasin;
  }
  .main-chat_bottom {
    height: 90px;
    background-color: yellowgreen;
  }
}